{% extends "main/main.html" %} {% block body_block %} {%load staticfiles %}
<style>
    .title {
        height: 10%;
        color: #9b82ff;
    }
    
    .panel {
        width: 90%;
        margin-left: 5%;
        background: linear-gradient(to bottom right, #e6e0ff, #d1c6ff);
        min-width: 200px;
    }
    
    .nbar {
        margin-top: 0px;
    }
    
    .forms {
        margin: 50px;
        padding: 2%;
        background-color: white;
    }
    
    .nb {
        background: linear-gradient(to bottom right, #e6e0ff, white);
    }
    
    .tdt {
        padding: 5px;
    }
    
    .add {
        background-color: rgb(75, 0, 255);
        color: rgba(255, 255, 255, .5);
        height: 30px;
        width: 100px;
        border: none;
    }
    
    .add:hover {
        color: white;
        background: linear-gradient(rgb(75, 0, 255), #ff3cae);
        transition: .15s;
        transform: scale(1.1, 1.1);
    }
    
    .fieldadd {
        margin: 5px;
        float: center;
        padding: .5%;
        height: 30px;
        width: 30px;
        background-color: rgba(75, 0, 255, 0.1);
        color: rgba(75, 0, 255, 0.9);
        border: none;
        font-size: 25;
        font-style: bold;
    }
    
    .s {
        width: 80%;
    }
    
    .l {
        width: 180%;
    }
    
    .xl {
        height: 300px;
        width: 180%;
    }
    
    .form {
        display: none;
        min-width: 100%;
        overflow: scroll;
        overflow-y: hidden;
        padding: 10px;
    }
    
    .inform {
        padding: 50px;
        background: white;
    }
</style>
<div id="admin_main" class="display container-fluid">
    <div class="row under">
        <div class="col-lg-12 col-md-12 col-sl-12 col-xs-12 container under">
            <div class="panel container-fluid">
                <h3 onclick="var x=document.getElementById('fpost');if (x.style.display === 'none') {x.style.display='block';} else { x.style.display = 'none';}">New Post</h3>
                <hr>
                <div class="form" id="fpost">
                    <div class="inform">
                        <form action="" method="POST" name="NewPost">
                            <table>
                                {{addp.as_table}} {%csrf_token%}
                            </table>
                            <input type="submit" name="Addp" class="add" value="ADD">

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sl-12 col-xs-12 container under">
            <div class="panel container-fluid">
                <h3 onclick="var x=document.getElementById('flist');if (x.style.display === 'none') {x.style.display='block';} else { x.style.display = 'none';}">New List</h3>
                <hr>
                <div class="form" id="flist">
                    <div class="inform">
                        <form action="" method="POST" name="NewList">
                            <table>
                                {{addl.as_table}} {%csrf_token%}
                            </table>
                            <input type="submit" name="Addl" class="add" value="ADD">

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row under">
        <div class="col-lg-12 col-md-12 col-sl-12 col-xs-12 container under">
            <div class="panel container-fluid">
                <h3 onclick="var x=document.getElementById('fdb');if (x.style.display === 'none') {x.style.display='block';} else { x.style.display = 'none';}">Data Base</h3>
                <hr>
                <div class="form" id="fdb">
                    <div class="inform">
                        sdms
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}